@page "/listadoTitulares"
@inject ListarTitularesUseCase ListarTitularesUseCase
@inject EliminarTitularUseCase EliminarTitularUseCase
@inject NavigationManager Navegador;


<DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar" />
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>DNI</th>
            <th>TELEFONO</th>
            <th>EMAIL</th>
            <th>DIRECCION</th>
            <th>ACCIÓN</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cli in _lista)
        {
            <tr>
                <td>@cli.Id</td>
                <td>@cli.Nombre</td>
                <td>@cli.Apellido</td>
                <td>@cli.Dni</td>
                <td>@cli.Telefono</td>
                <td>@cli.Email</td>
                <td>@cli.Direccion</td>
                <td>
                    <button class="btn btn-primary" @onclick="()=>ModificarCliente(cli)" >
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(cli)">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Titular> _lista = new List<Titular>();
    protected override void OnInitialized()
    {
        _lista = ListarTitularesUseCase.Ejecutar();
    }

    DialogoConfirmacion dialogo = null!;
    Titular? _TitularParaEliminar = null;
    private void ConfirmarEliminacion(Titular cli)
    {
        _TitularParaEliminar = cli;
        dialogo.Mensaje = $"¿Desea eliminar al Titular {cli.Nombre} {cli.Apellido}?";
        dialogo.Mostrar();
    }
    void ModificarCliente(Titular cli)
    {
        Navegador.NavigateTo($"titular/{cli.Id}");
    }
    private void Eliminar()
    {
        if (_TitularParaEliminar != null)
        {
            EliminarTitularUseCase.Ejecutar(_TitularParaEliminar.Dni);
            _lista = ListarTitularesUseCase.Ejecutar(); //se actualiza la lista de Titulares
        }
    }
}