@page "/listadoTitulares"
@inject ListarTitularesUseCase ListarTitularesUseCase
@inject EliminarTitularUseCase EliminarTitularUseCase
@inject NavigationManager Navegador;


<DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar" />
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>DNI</th>
            <th>TELEFONO</th>
            <th>EMAIL</th>
            <th>DIRECCION</th>
            <th>ACCIÓN</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var titu in _lista)
        {
            <tr>
                <td>@titu.Id</td>
                <td>@titu.Nombre</td>
                <td>@titu.Apellido</td>
                <td>@titu.Dni</td>
                <td>@titu.Telefono</td>
                <td>@titu.Email</td>
                <td>@titu.Direccion</td>
                <td>
                    <button class="btn btn-primary" @onclick="()=>ModificarTitular(titu)" >
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(titu)">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Titular> _lista = new List<Titular>();
    protected override void OnInitialized()
    {
        _lista = ListarTitularesUseCase.Ejecutar();
    }

    DialogoConfirmacion dialogo = null!;
    Titular? _TitularParaEliminar = null;
    private void ConfirmarEliminacion(Titular titu)
    {
        _TitularParaEliminar = titu;
        dialogo.Mensaje = $"¿Desea eliminar al Titular {titu.Nombre} {titu.Apellido}?";
        dialogo.Mostrar();
    }
    void ModificarTitular(Titular titu)
    {
        Navegador.NavigateTo($"titular/{titu.Id}");
    }
    private void Eliminar()
    {
        if (_TitularParaEliminar != null)
        {
            EliminarTitularUseCase.Ejecutar(_TitularParaEliminar.Dni);
            _lista = ListarTitularesUseCase.Ejecutar(); 
        }
    }
}